<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--right side dev-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="about" class="img-fluid" title="Gunhawk23">
                        </figure>
                    </div>
                    <!--left side dev-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To <span class="text_clr">Weather</span> App</p>
                        <h1>I Am A <span class="text_clr">Mern Stack Developer</span> And A Freelancer</h1>
                        <a href="https://www.instagram.com/sauravharam23/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>
</html>